# IDEs
.idea/

# Hugo
resources/
public/
.Rproj.user
content/.DS_Store
.DS_Store
content/.DS_Store
static/img/.DS_Store
static/img/courses/dat_sci/.DS_Store
.Rhistory
.Rhistory
themes/academic
themes/academic
.Rhistory
